<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Contacts spring boot web application</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container text-center">
        <div>
            <h1>Contacts Spring Boot Web Application</h1>
        </div>
        <div>
            <h3><a th:href="@{/register}">Create new contact</a></h3>
        </div> 
        <div>
            <h3><a th:href="@{/contacts}">Contact List</a></h3>
        </div>         
    </div>
     
</body>
</html>